# {{ ansible_managed }}

server {
        listen    80;
        server_name  yourdomain.com www.yourdomain.com;
        access_log off;
        error_log  /var/log/httpd/yourdomain.com-error_log crit;
 
location ~* .(gif|jpg|jpeg|png|ico|wmv|3gp|avi|mpg|mpeg|mp4|flv|mp3|mid|js|css|html|htm|wml)$ {
        root /var/www/html/yourdomain.com;
        expires 30d;
        }
 
location / {
        client_max_body_size    10m;
        client_body_buffer_size 128k;
 
        proxy_send_timeout   90;
        proxy_read_timeout   90;
        proxy_buffer_size    128k;
        proxy_buffers     4 256k;
        proxy_busy_buffers_size 256k;
        proxy_temp_file_write_size 256k;
        proxy_connect_timeout 30s;
 
        proxy_redirect  https://www.yourdomain.com:8080   https://www.yourdomain.com;
        proxy_redirect  https://yourdomain.com:8080   https://yourdomain.com;
 
        proxy_pass   https://127.0.0.1:8080/;
 
        proxy_set_header   Host   $host;
        proxy_set_header   X-Real-IP  $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        }
}